absl-py
alibi
astor
backcall
beautifulsoup4
bleach
cffi
cycler
decorator
filelock
gast
google-pasta
grpcio
h5py
idna
imageio
ipykernel
ipython
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
keras
kiwisolver
Markdown
MarkupSafe
matplotlib
nbconvert
nbformat
notebook
numpy
opencv-python
pandas
Pillow
plotly
prometheus-client
protobuf
pytz
PyYAML
requests
scikit-learn
scipy
seaborn
six
tensorboard
tensorflow
termcolor
tornado
traitlets
typing-extensions
urllib3
wasabi
wcwidth
zipp